body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ABB5C4;
    background-color: #445878;
  }

h1 {
    color: #EEEFF7;
  }

.project {
  margin-top: 50px;
}

.button{
    background-color: #7C838E;
    text-decoration:none;
    color: white;
    padding: 15px 100px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: solid #ABB5C4;
  }
.button:hover{
    background-color: #7090C4;
}
.projectbutton{   
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%; 
    padding: 0% 0%;
    border-radius: 100px;
}

.line {
  border-bottom: 5px solid #ABB5C4;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  margin-right: 15%;
  display: block;
}

img {
  border-radius: 10%;
  width: 30%;
}

.gif:hover {
  content: url(luffy-smile-luffy-giggle.gif);
}