body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ABB5C4;
    background-color: #445878;
  }

h1 {
    color: #EEEFF7;
  }

h4 {
  margin: 10px;
}

.project {
  margin-top: 50px;
}

.button, .buttons{
    background-color: #7C838E;
    text-decoration:none;
    color: white;
    padding: 15px 100px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: solid #ABB5C4;
  }
.buttons {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}
.button:hover{
    background-color: #7090C4;
}
.projectbutton{   
    margin: 3%;
    padding: 0% 0%;
    border-radius: 100px;
}

.line {
  border-bottom: 5px solid #ABB5C4;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
}

img {
  border-radius: 20%;
  width: 30%;
}

.Sil {
  width: 10%;
}

.gif:hover {
  content: url(Spacepus.gif);
}

p {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}
